/*Base*/
/*Colors*/
/** Media Queries **/
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  direction: rtl;
  font-family: "Assistant", sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

p {
  font-size: 2.1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.container {
  width: 95%;
  max-width: 144rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h4,
h5 {
  font-family: "Assistant", sans-serif;
  font-weight: 700;
  margin: 0;
}

.button-talbe {
  background: #7784EE;
  font-family: "Assistant", sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border: none;
  width: 88px;
  height: 33px;
  border-radius: 0.8rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
}

.button-talbe:hover {
  cursor: pointer;
}

.button-form {
  background: #7784EE;
  font-family: "Assistant", sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border: none;
  width: 292px;
  height: 49px;
  border-radius: 0.8rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}

.button-form:hover {
  cursor: pointer;
}

/*Layout*/
button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  height: 100px;
}

.imagen {
  width: 100px;
  height: 100px;
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
}

.imagen:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.top-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5rem 0;
}

.button--disabled {
  background: black;
  cursor: not-allowed;
}

.select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 292px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.select-box .options-container {
  background: #ffffff;
  color: #000000;
  max-height: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: absolute;
  z-index: 100;
}

.selected {
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #000000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.selected__work p {
  font-size: 1.2rem;
  font-weight: 400;
}

.selected::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  max-width: 296px;
  opacity: 1;
  overflow-y: scroll;
  margin-top: 54px;
}

.select-box .options-container.active + .selected::after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #e4e4e4;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px;
  cursor: pointer;
}

.selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-box .option:hover {
  background: #e4e4e4;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

#tblData {
  width: 100%;
  text-align: right;
  border-collapse: collapse;
  margin: 0 0 1rem 0;
  caption-side: top;
}

#tblData th {
  font-weight: 400;
  background-color: #e8e8e8;
  color: #25282b;
}

#tblData td {
  color: #52575c;
}

#tblData td,
#tblData th {
  padding: 1.2rem;
  border-bottom: 1px solid #dbdde0;
  height: 56px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  /* Modal Content */
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 20px;
  width: 348px;
  height: 472px;
  -webkit-box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
          box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
  border-radius: 8px;
  position: relative;
  bottom: 100px;
  background: #ffffff;
}

.modal-content .close {
  color: #95a3b9;
}

/* Close Button */
.close {
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#loginUser {
  margin: auto;
  padding: 20px;
  width: 348px;
  height: 472px;
  -webkit-box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
  box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
  border-radius: 8px;
}

#loginUser h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

label {
  display: block;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

select, input:not([type="submit"]) {
  padding: 1rem;
  display: block;
  width: 292px;
  height: 47px;
  -webkit-box-shadow: 0px 5px 15px rgba(119, 132, 238, 0.3);
          box-shadow: 0px 5px 15px rgba(119, 132, 238, 0.3);
  border: 1px solid #7784ee;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
}

select, input:focus {
  outline: none;
}

input[type="radio"] {
  display: none;
}

#formCreate h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

#formEdit h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.selected-edit {
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #000000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.selected-edit__work p {
  font-size: 1.2rem;
  font-weight: 400;
}

.selected-edit::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.select-box-edit .options-container-edit.active {
  max-height: 240px;
  max-width: 296px;
  opacity: 1;
  overflow-y: scroll;
  margin-top: 54px;
}

.select-box-edit .options-container-edit.active + .selected-edit::after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  top: -6px;
}

.select-box-edit .options-container-edit::-webkit-scrollbar {
  width: 8px;
  background: #E4E4E4;
  border-radius: 0 8px 8px 0;
}

.select-box-edit .options-container-edit::-webkit-scrollbar-thumb {
  background: #E4E4E4;
  border-radius: 0 8px 8px 0;
}

.select-box-edit .option-edit,
.selected-edit {
  padding: 12px;
  cursor: pointer;
}

.selected-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-box-edit .option-edit:hover {
  background: #E4E4E4;
}

.select-box-edit label {
  cursor: pointer;
}

.select-box-edit .option-edit .radio {
  display: none;
}

.container-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.5fr 2.1fr 2.1fr 2.1fr;
      grid-template-columns: 1fr 2.5fr 2.1fr 2.1fr 2.1fr;
  gap: 2rem;
  grid-auto-flow: row;
      grid-template-areas: "sidebar nav nav nav nav" "sidebar column4 column1 column2 column3" "sidebar column4 columnBottom . ." "sidebar . . . . ";
}

.container-table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.5fr 2.1fr 2.1fr 2.1fr;
      grid-template-columns: 1fr 2.5fr 2.1fr 2.1fr 2.1fr;
  gap: 2rem;
  grid-auto-flow: row;
      grid-template-areas: "sidebar nav nav nav nav" "sidebar tables tables tables tables" "sidebar tables tables tables tables" "sidebar . . . . ";
}

.tables {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: tables;
  display: none;
}

.nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: nav;
}

.nav .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
          box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem 0;
  border-radius: 0.8rem;
}

.nav .nav-bar__search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: calc(80% - 1rem);
      flex-basis: calc(80% - 1rem);
  margin-right: 2rem;
}

.nav .nav-bar__search-bar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: calc(20% - 1rem);
      flex-basis: calc(20% - 1rem);
}

.nav .nav-bar__search-bar__logo__upnext {
  -ms-flex-preferred-size: calc(80% - 1rem);
      flex-basis: calc(80% - 1rem);
  min-width: 10rem;
  max-width: 15rem;
}

.nav .nav-bar__search-bar__logo__notification {
  -ms-flex-preferred-size: calc(20% - 1rem);
      flex-basis: calc(20% - 1rem);
  min-width: 1.7rem;
}

.nav .nav-bar__search-bar input {
  width: 33.3vw;
  -ms-flex-preferred-size: calc(80% - 1rem);
      flex-basis: calc(80% - 1rem);
  background-color: #f4f7fc;
  border-radius: 20rem;
  border: none;
  margin: 0;
}

.nav .nav-bar__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
  -ms-flex-preferred-size: calc(20% - 1rem);
      flex-basis: calc(20% - 1rem);
}

.nav .nav-bar__navigation__client a {
  text-decoration: none;
  font-weight: 700;
  color: #08a0f7;
}

.nav .nav-bar__navigation__project a {
  text-decoration: none;
  font-weight: 700;
  color: #ab08f7;
}

.nav .nav-bar__navigation__page a {
  text-decoration: none;
  font-weight: 700;
  color: #121212;
  margin-left: 2rem;
}

.nav .nav-bar__chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
}

.sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: sidebar;
}

.sidebar .content__smallest-sidebar {
  max-width: 13.1rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
          box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
  border-radius: 8px;
}

.sidebar .content__smallest-sidebar .activity #buttonCreate1 {
  text-align: center;
}

.sidebar .content__smallest-sidebar .activity .clock__container {
  text-align: center;
}

.sidebar .content__smallest-sidebar .activity .clock__container__hour {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 6.6rem;
  margin: 0;
  color: #08a0f7;
}

.sidebar .content__smallest-sidebar .activity .clock__container__min {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 6.6rem;
  margin: 0;
  color: #08a0f7;
}

.sidebar .content__smallest-sidebar .activity .googel-events {
  text-align: center;
}

.sidebar .content__smallest-sidebar .activity .googel-events h5 {
  text-align: right;
  margin-right: 3rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.sidebar .content__smallest-sidebar .activity .googel-events #eventToday p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
}

.sidebar .content__smallest-sidebar .activity .googel-events .noEvent p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
}

.sidebar .content__smallest-sidebar .activity .activity-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.3rem;
  margin-top: 0.5rem;
}

.sidebar .content__smallest-sidebar .activity .activity-buttons .button__cronometer {
  background: none;
  border: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}

.sidebar .content__smallest-sidebar .activity .activity-buttons .button__cronometer:hover {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

.sidebar .content__smallest-sidebar .activity .cronometer-container .cronometer {
  -webkit-text-stroke: 1px #46b8f9;
  color: transparent;
}

.sidebar .content__smallest-sidebar .activity .cronometer-container .cronometer .cronometer--number p {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 6.6rem;
  line-height: 55px;
  font-weight: 500;
}

.sidebar .content__smallest-sidebar .activity .cronometer-container #saveTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 7px 0px;
  cursor: pointer;
}

.sidebar .content__smallest-sidebar .activity .cronometer-container #saveTime p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.sidebar .projects__list {
  margin-top: 1.4rem;
  text-align: center;
  border-bottom: 0.5px solid #c6c6c6;
  -webkit-box-shadow: 0px 0px 0px -2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 0px -2px rgba(0, 0, 0, 0.25);
}

.sidebar .projects__list p {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 1.6rem 0.7rem 0;
}

.sidebar .projects__list .projects__list__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .projects__list .projects__list__buttons .button__cronometer {
  background: none;
  border: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}

.sidebar .projects__list .projects__list__buttons .button__cronometer:hover {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

.column1 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: column1;
}

.column2 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: column2;
}

.column3 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: column3;
}

.columnBottom {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: columnBottom;
}

.column4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: column4;
}

.column4 .content__columns__sidebar-big {
  -ms-flex-preferred-size: calc(55% - 1rem);
      flex-basis: calc(55% - 1rem);
  background: #ffffff;
  -webkit-box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
          box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
  border-radius: 8px;
}

.column4 .content__columns__sidebar-big .task-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
}

.column4 .content__columns__sidebar-big .task-container-calendar .task-calendar .principal-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1rem;
  font-weight: 700;
  color: #121212;
}

.column4 .content__columns__sidebar-big .task-container-calendar .task-calendar .principal-date:before, .column4 .content__columns__sidebar-big .task-container-calendar .task-calendar .principal-date:after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}

.column4 .content__columns__sidebar-big .task-container-calendar .task-calendar .principal-date:before {
  margin-right: 10px;
}

.column4 .content__columns__sidebar-big .task-container-calendar .task-calendar .principal-date:after {
  margin-left: 10px;
}

.column4 .content__columns__sidebar-big .task-container-calendar .task-calendar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 2rem;
  margin-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column4 .content__columns__sidebar-big .task-container-calendar .task-calendar__content .task-titles-calendar p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #41475e;
}

.column4 .content__columns__sidebar-big .task-container-calendar .task-calendar__content .task-date-calendar p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #41475e;
}

.content__columns__sidebar {
  height: 596px;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
          box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
  border-radius: 8px;
}

.content__columns__sidebar::-webkit-scrollbar {
  width: 8px;
  background: #ffffff;
  border-radius: 0 8px 8px 0;
}

.content__columns__sidebar::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 0 8px 8px 0;
  height: 5px;
}

.content__columns__sidebar .task-title {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  top: 0;
  width: 100%;
  background-color: #ffffff;
}

.content__columns__sidebar .task-title__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
}

.content__columns__sidebar .task-container {
  padding-bottom: 5rem;
}

.content__columns__sidebar .task-container .task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
}

.content__columns__sidebar .task-container .task .task-titles {
  margin-top: 1rem;
  cursor: pointer;
}

.content__columns__sidebar .task-container .task .task-titles__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.content__columns__sidebar .task-container .task .task-titles__container h5 {
  display: inline;
  font-size: 1.3rem;
  font-weight: 400;
  color: #121212;
  border-bottom: 1px solid #121212;
}

.content__columns__sidebar .task-container .task .task-titles__container p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: #41475e;
}

.content__columns__sidebar .task-container .task .task-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-top: 3.3rem;
}

.content__columns__sidebar .task-container .task .task-date p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #41475e;
}

#rootProjectsDate .projectDate-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

#rootProjectsDate .projectDate-container .projectDate__name p {
  width: 6vw;
  font-size: 1.2rem;
  font-weight: 400;
  color: #41475e;
  margin: 0;
}

#rootProjectsDate .projectDate-container .projectDate__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

#rootProjectsDate .projectDate-container .projectDate__image p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #41475e;
  margin: 0;
}

.button__disabled {
  cursor: not-allowed;
}

.button__brightness {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

.alertRed {
  -webkit-text-stroke: 1px red !important;
}

.showClients {
  width: 80%;
  margin-top: 5rem;
}

.showClients object {
  height: 100%;
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: auto;
  padding: 20px;
  -webkit-box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
  box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
  border-radius: 8px;
  position: relative;
  bottom: 100px;
  background: #ffffff;
}

.modal-content #showTaskDescriptionInfo {
  width: 100%;
}

.modal-content #showTaskDescriptionInfo .content {
  margin-top: 5rem;
}

.modal-content #showTaskDescriptionInfo .content__name {
  margin-bottom: 2rem;
}

.modal-content #showTaskDescriptionInfo .content__name h4 {
  font-size: 1.8rem;
  font-weight: 400;
}

.modal-content #showTaskDescriptionInfo .content__description {
  width: 100%;
}

.modal-content #showTaskDescriptionInfo .content__description p {
  font-size: 1.3rem;
  font-weight: 400;
}

.settings {
  height: auto;
}
/*# sourceMappingURL=app.css.map */