/*Base*/
/*Colors*/
/** Media Queries **/
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  direction: rtl;
  font-family: "Assistant", sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

p {
  font-size: 2.1rem;
  font-weight: 400;
}

.container {
  width: 95%;
  max-width: 120.5rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h4,
h5 {
  font-family: "Assistant", sans-serif;
  font-weight: 700;
  margin: 0;
}

.button-talbe {
  background: #7784EE;
  font-family: "Assistant", sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border: none;
  width: 88px;
  height: 33px;
  border-radius: 0.8rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
}

.button-talbe:hover {
  cursor: pointer;
}

.button-form {
  background: #7784EE;
  font-family: "Assistant", sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border: none;
  width: 292px;
  height: 49px;
  border-radius: 0.8rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}

.button-form:hover {
  cursor: pointer;
}

/*Layout*/
button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  height: 100px;
}

.imagen {
  width: 100px;
  height: 100px;
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
}

.imagen:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.top-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5rem 0;
}

.button--disabled {
  background: black;
  cursor: not-allowed;
}

.select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 292px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.select-box .options-container {
  background: #ffffff;
  color: #000000;
  max-height: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.selected {
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #000000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.selected__work p {
  font-size: 1.2rem;
  font-weight: 400;
}

.selected::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #E4E4E4;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #E4E4E4;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px;
  cursor: pointer;
}

.selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-box .option:hover {
  background: #E4E4E4;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

#tblData {
  width: 100%;
  text-align: right;
  border-collapse: collapse;
  margin: 0 0 1rem 0;
  caption-side: top;
}

#tblData thead tr {
  text-align: right;
}

#tblData td,
#tblData th {
  padding: 1.2rem 0;
}

#tblData th,
#tblData td {
  border-bottom: 1px solid #DBDDE0;
  width: 25%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  /* Modal Content */
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 20px;
  width: 348px;
  height: 472px;
  -webkit-box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
          box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
  border-radius: 8px;
  position: relative;
  bottom: 100px;
  background: #ffffff;
}

.modal-content .close {
  color: #95A3B9;
}

/* Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  bottom: 15px;
  left: 50px;
}

#formCreate label {
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

#formCreate input:not([type="submit"]) {
  padding: 1rem;
  display: block;
  width: 292px;
  height: 47px;
  border: 1px solid #7784ee;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

#formCreate input[type="radio"] {
  margin: 0;
  width: auto;
}

.button-hiden {
  visibility: hidden;
}
/*# sourceMappingURL=app.css.map */