.button-talbe {
  @include button($gradient, inline-block);
  width: 88px;
  height: 33px;
  border-radius:0.8rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: $regular;
 
 
  

 

}

.button-form {
  @include button($gradient, inline-block);
  width: 292px;
height: 49px;
  border-radius:0.8rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: $bold;
 
 
  

 

}

