//GRID V2
.container-column {
  display: grid;
  grid-template-columns: 1fr 2.5fr 2.1fr 2.1fr 2.1fr;
  gap: 2rem;
  grid-auto-flow: row;
  grid-template-areas:
    "sidebar nav nav nav nav"
    "sidebar column4 column1 column2 column3"
    "sidebar column4 columnBottom . ."
    "sidebar . . . . ";
}

.container-table {
  display: grid;
  grid-template-columns: 1fr 2.5fr 2.1fr 2.1fr 2.1fr;
  gap: 2rem;
  grid-auto-flow: row;
  grid-template-areas:
    "sidebar nav nav nav nav"
    "sidebar tables tables tables tables"
    "sidebar tables tables tables tables"
    "sidebar . . . . ";
}
.tables {
  grid-area: tables;
  display: none;
}
.nav {
  grid-area: nav;

  .nav-bar {
    display: flex;
    gap: 2rem;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1rem 0;
    border-radius: 0.8rem;

    &__search-bar {
      display: flex;
      gap: 2rem;
      align-items: center;
      flex-basis: calc(80% - 1rem);
      margin-right: 2rem;

      &__logo {
        display: flex;
        gap: 1rem;
        align-items: center;
        flex-basis: calc(20% - 1rem);
        &__upnext {
          flex-basis: calc(80% - 1rem);
          min-width: 10rem;
          max-width: 15rem;
        }
        &__notification {
          flex-basis: calc(20% - 1rem);
          min-width: 1.7rem;
        }
      }
      input {
        width: 33.3vw;
        flex-basis: calc(80% - 1rem);
        background-color: #f4f7fc;
        border-radius: 20rem;
        border: none;
        margin: 0;
      }
    }
    &__navigation {
      display: flex;
      gap: 2vw;
      flex-basis: calc(20% - 1rem);

      &__client {
        a {
          text-decoration: none;
          font-weight: $bold;
          color: #08a0f7;
        }
      }
      &__project {
        a {
          text-decoration: none;
          font-weight: $bold;
          color: #ab08f7;
        }
      }
      &__page {
        a {
          text-decoration: none;
          font-weight: $bold;
          color: #121212;
          margin-left: 2rem;
        }
      }
    }
    &__chat {
      display: flex;
      gap: 2rem;
      margin-left: 2rem;
    }
  }
}

.sidebar {
  grid-area: sidebar;

  .content__smallest-sidebar {
    max-width: 13.1rem;
    background: #ffffff;
    box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
    border-radius: 8px;
    .activity {
      #buttonCreate1 {
        text-align: center;
      }
      .clock {
        &__container {
          text-align: center;
          &__hour {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 6.6rem;
            margin: 0;
            color: #08a0f7;
          }
          &__min {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 6.6rem;
            margin: 0;
            color: #08a0f7;
          }
        }
      }
      .googel-events {
        text-align: center;
        h5 {
          text-align: right;
          margin-right: 3rem;
          font-size: 1.2rem;
          font-weight: $regular;
        }
        #eventToday {
          p {
            font-family: "Montserrat", sans-serif;
            font-size: 1.7rem;
            font-weight: $regular;
          }
        }

        .noEvent {
          p {
            font-family: "Montserrat", sans-serif;
            font-size: 1.7rem;
            font-weight: $regular;
          }
        }
      }
      .activity-buttons {
        display: flex;
        justify-content: center;
        gap: 0.3rem;
        margin-top: 0.5rem;
        .button__cronometer {
          background: none;
          border: none;
          height: fit-content;
          text-align: center;

          &:hover {
            filter: brightness(150%);
          }
        }
      }
      .cronometer-container {
        .cronometer {
          -webkit-text-stroke: 1px #46b8f9;
          color: transparent;

          .cronometer--number {
            p {
              margin: 0;
              text-align: center;
              font-family: "Montserrat", sans-serif;
              font-size: 6.6rem;
              line-height: 55px;
              font-weight: 500;
            }
          }
        }

        #saveTime {
          display: flex;
          align-items: center;
          justify-content: space-around;
          // background: firebrick;
          margin: 7px 0px;
          cursor: pointer;
          p {
            text-align: center;
            font-size: 1.2rem;
            font-weight: $bold;
          }
        }

        // #saveTime {
        //   p {
        //     text-align: center;
        //     font-size: 1.2rem;
        //   }
        // }
      }
    }
  }

  .projects__list {
    margin-top: 1.4rem;
    text-align: center;
    p {
      font-size: 1.2rem;
      font-weight: $regular;
      margin: 0 1.6rem 0.7rem 0;
    }
    border-bottom: 0.5px solid #c6c6c6;
    box-shadow: 0px 0px 0px -2px rgba(0, 0, 0, 0.25);

    .projects__list__buttons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .button__cronometer {
        background: none;
        border: none;
        height: fit-content;
        text-align: center;

        &:hover {
          filter: brightness(150%);
        }
      }
    }
  }
}

.column1 {
  grid-area: column1;
}

.column2 {
  grid-area: column2;
}

.column3 {
  grid-area: column3;
}

.columnBottom {
  grid-area: columnBottom;
}

.column4 {
  grid-area: column4;

  .content__columns__sidebar-big {
    flex-basis: calc(55% - 1rem);
    background: #ffffff;
    box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
    border-radius: 8px;

    .task-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 2rem;
    }
    .task-container-calendar {
      .task-calendar {
        .principal-date {
          display: flex;
          flex-direction: row;
          font-size: 1rem;
          font-weight: $bold;
          color: #121212;

          &:before,
          &:after {
            content: "";
            flex: 1 1;
            border-bottom: 1px solid;
            margin: auto;
          }
          &:before {
            margin-right: 10px;
          }
          &:after {
            margin-left: 10px;
          }
        }
        &__content {
          display: flex;
          justify-content: space-between;
          margin: 0 2rem;
          margin-bottom: 2rem;
          align-items: center;
          .task-titles-calendar {
            p {
              font-size: 1.2rem;
              font-weight: $semi-bold;
              color: #41475e;
            }
          }
          .task-date-calendar {
            p {
              font-size: 1.2rem;
              font-weight: $bold;
              color: #41475e;
            }
          }
        }
      }
    }
  }
}

.content__columns__sidebar {
  height: 596px;
  overflow: hidden;
  overflow-y: scroll;
  align-items: center;

  background: #ffffff;
  box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);

  border-radius: 8px;

  &::-webkit-scrollbar {
    width: 8px;

    background: #ffffff;
    border-radius: 0 8px 8px 0;
  }
  &::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    border-radius: 0 8px 8px 0;
    height: 5px;
  }
  .task-title {
    position: sticky;
    z-index: 1000;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 2rem;
    }
  }
  .task-container {
    padding-bottom: 5rem;
    .task {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 2rem;
      .task-titles {
        margin-top: 1rem;
        cursor: pointer;
        &__container {
          display: flex;
          align-items: center;
          gap: 2rem;

          h5 {
            display: inline;
            font-size: 1.3rem;
            font-weight: $regular;
            color: #121212;
            border-bottom: 1px solid #121212;
          }
          p {
            margin: 0;
            font-size: 1.2rem;
            font-weight: $regular;
            color: #41475e;
          }
        }
      }
      .task-date {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 3.3rem;
        p {
          font-size: 1.2rem;
          font-weight: $regular;
          color: #41475e;
        }
      }
    }
  }
}

#rootProjectsDate {
  .projectDate-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    .projectDate__name {
      p {
        width: 6vw;
        font-size: 1.2rem;
        font-weight: $regular;
        color: #41475e;
        margin: 0;
      }
    }

    .projectDate__image {
      display: flex;
      align-items: center;
      gap: 2rem;
      p {
        font-size: 1.2rem;
        font-weight: $bold;
        color: #41475e;
        margin: 0;
      }
    }
  }
}

.button__disabled {
  cursor: not-allowed;
}

.button__brightness {
  filter: brightness(150%);
}

.alertRed {
  -webkit-text-stroke: 1px red !important;
}

.showClients {
  width: 80%;

  margin-top: 5rem;

  object {
    height: 100%;
  }
}
.modal-content {
  display: flex;

  flex-direction: row-reverse;
  margin: auto;
  padding: 20px;

  -webkit-box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
  box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
  border-radius: 8px;
  position: relative;
  bottom: 100px;
  background: #ffffff;

  #showTaskDescriptionInfo {
    width: 100%;
    .content {
      margin-top: 5rem;
      &__name {
        margin-bottom: 2rem;
        h4 {
          font-size: 1.8rem;
          font-weight: $regular;
        }
      }
      &__description {
        width: 100%;
        p {
          font-size: 1.3rem;
          font-weight: $regular;
        }
      }
    }
  }
}

.settings {
  height: auto;
}
