.pepe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1.5fr 1.4fr;
  height: 100vh;
  gap: 1rem;
  grid-template-areas:
    "sidebar nav nav nav nav"
    "sidebar column4 column1 column2 column3"
    ". column4 columnBottom . ."; 
    ; 

  .nav {
    grid-area: nav;
    width: 1155px;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 2rem 0;

    background: #ffffff;
    box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
    border-radius: 8px;

    .navigation__container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10vw;
      background: #ffffff;

      // gap: 6rem;

      &__search-bar {
        input {
          width: 626px;
          height: 36px;
          background: #f4f7fc;
          border-radius: 200px;
          border-style: none;
        }
      }
      &__page {
        display: flex;
        gap: 6rem;
        &__client {
          a {
            color: #ab08f7;
          }
        }
        &__project {
          a {
            color: #08a0f7;
          }
        }
        &__definitions {
          a {
            color: #121212;
          }
        }
      }

      //  &__search-bar{

      //  }
    }
  }

  .sidebar {
    grid-area: sidebar;
    width: 131px;

    background: #ffffff;
    box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
    border-radius: 8px;
    .activity {
      .activity-buttons {
        display: flex;
        justify-content: center;
        gap: 0.3rem;
        margin-top: 0.5rem;
      }
      .cronometer {
        -webkit-text-stroke: 1px #46b8f9;
        color: transparent;

        .cronometer--number {
          p {
            margin: 0;
            text-align: center;
            font-family: "Montserrat", sans-serif;
            font-size: 6.6rem;
            line-height: 55px;
            font-weight: 500;
          }
        }
      }
    }

    .projects__list {
      width: 131px;
      height: 50px;
      margin-top: 1.4rem;
      align-items: center;
      p {
        font-size: 1.2rem;
        font-weight: $regular;
        margin: 0 1.6rem 0.7rem 0;
      }
      border-bottom: 0.5px solid #c6c6c6;
      box-shadow: 0px 0px 0px -2px rgba(0, 0, 0, 0.25);

      .projects__list__buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }

  .column1 {
    grid-area: column1;
    width: 281px;
    height: 596px;
    background: #ffffff;
    box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
    border-radius: 8px;
  }

  .column2 {
    grid-area: column2;
    width: 281px;
    height: 596px;
    background: #ffffff;
    box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
    border-radius: 8px;
  }

  .column3 {
    grid-area: column3;
    width: 281px;
    height: 596px;
    background: #ffffff;
    box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
    border-radius: 8px;
  }

  .column4 {
    grid-area: column4;
    width: 319px;
    height:1155px;
    background: #ffffff;
    box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
    border-radius: 8px;
  }
  .columnBottom {
    grid-area: columnBottom; 
    width: 281px; 
    height: 500px; 
    background: #ffffff;
    box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
    border-radius: 8px;
  }
}
.task-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 281px;
  height: 59.5px;
border-radius: .8rem;
  background-color: #ffffff;
  h3 {
    font-size: 1.5rem;
    font-weight: $regular;
  }
}
.task-titles {
  margin-top: 1rem;
  h5 {
    display: inline;
    font-size: 1.3rem;
    font-weight: $regular;
    color: #121212;
    border-bottom: 1px solid #121212;
  }
  p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: $regular;
    color: #41475e;
  }
}

.task-container {
  width: 281px;
  height: 596px;

  overflow-y: scroll;

  .task {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .task-date {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 3.3rem;
      p {
        font-size: 1.2rem;
        font-weight: $regular;
        color: #41475e;
      }
    }
  }
}
.task-container::-webkit-scrollbar {
  width: 8px;

  background: #ffffff;
  border-radius: 0 8px 8px 0;
}
.task-container::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 0 8px 8px 0;
  height: 5px;
}

#saveTime {
  text-align: center;
  font-size: 1.2rem;
}
#buttonCreate1 {
  text-align: center;
}
.button__cronometer {
  background: none;
  border: none;
  height: fit-content;
  text-align: center;

  &:hover {
    filter: brightness(150%);
  }
}

// #sidebar{
//   width: 281px;
// height: 596px;
//   background-color: red;
// }
// .schedule--container {
//   display: flex;
//   gap: 5rem;

// }
// .tasks {
//   @include grid(3,3.5rem);
//   .task-title {
//     position: absolute;
//     width: 281px;
//     height: 59.5px;
//     border-radius: 8px;
//     background-color: #ffffff;
//     h3 {
//       font-size: 1.5rem;
//       font-weight: $regular;
//     }
//   }
//   .task-titles {
//     margin-top: 1rem;
//     h5 {
//       display: inline;
//       font-size: 1.3rem;
//       font-weight: $regular;
//       color: #121212;
//       border-bottom: 1px solid #121212;
//     }
//     p {
//       margin: 0;
//       font-size: 1.2rem;
//       font-weight: $regular;
//       color: #41475e;
//     }
//   }

//   .task-container {
//     width: 281px;
//     height: 596px;

//     box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
//     border-radius: 8px;
//     overflow-y: scroll;
//     margin-top: 54px;

//     .task {
//       display: flex;
//       justify-content: space-around;
//       align-items: center;
//       .task-date {
//         display: flex;
//         align-items: center;
//         gap: 1rem;
//         margin-top: 3.3rem;
//         p {
//           font-size: 1.2rem;
//           font-weight: $regular;
//           color: #41475e;
//         }
//       }
//     }
//   }
//   .task-container::-webkit-scrollbar {
//     width: 8px;

//     background: #ffffff;
//     border-radius: 0 8px 8px 0;
//   }
//   .task-container::-webkit-scrollbar-thumb {
//     background: #c9c9c9;
//     border-radius: 0 8px 8px 0;
//     height: 5px;
//   }
// }
// .activity {
//   position: relative;

//
//     background: #FFFFFF;
// box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
//   }

//   width: 131px;
//    height: 100%;
//   box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
//   .activity-buttons{
//  display: flex;
// justify-content: center;
// gap: 0.3rem;
// margin-top: 0.5rem;
//   }
//   #buttonCreate1{
//     text-align: center;
//   }
// }
// .cronometer {
//   -webkit-text-stroke: 1px #46b8f9;
//   color: transparent;

//   .cronometer--number{
//     p{
//       margin: 0;
//       text-align: center;
//       font-family: 'Montserrat', sans-serif;
//         font-size: 6.6rem;
//         line-height: 55px;
//       font-weight: 500;

//     }

//     }

// }
// #saveTime{
//   text-align: center;
//   font-size: 1.2rem;
// }

// .projects__list {
//   width: 131px;
//   height: 50px;
//   margin-top: 1.4rem;
//   align-items: center;
//   p{
//     font-size: 1.2rem;
//     font-weight: $regular;
//     margin: 0 1.6rem 0.7rem 0 ;
//   }
//   border-bottom: 0.5px solid #C6C6C6;
//   box-shadow: 0px 0px 0px -2px rgba(0, 0, 0, 0.25);

//   .projects__list__buttons{
// display: flex;
// justify-content: space-evenly;
// align-items: center;
//   }
// }

.button__disabled {
  cursor: not-allowed;
}

.button__brightness {
  filter: brightness(150%);
}

.alertRed {
  -webkit-text-stroke: 1px red;
  color: transparent;
}
